$fa-font-path: "../fonts/webfonts";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&subset=latin-ext');
@import "../../fonts/fontawesome/fontawesome.scss";
@import "../../fonts/fontawesome/regular.scss";
@import "../../fonts/fontawesome/solid.scss";
@import "../../fonts/fontawesome/brands.scss";

html,
body,
header,
#intro {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

#intro {
  background: url("https://watermark.lovepik.com/photo/50044/2641.jpg_wh1200.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-size: .875rem;
}

table tr {
  cursor: pointer;
  line-height: 2;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Slider
 */

 .slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 55%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.6;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Checkbox
 */

 .switch {
   position: relative;
   display: inline-block;
   width: 40px;
   height: 24px;
 }

 .check_on input {
   opacity: 0;
   width: 0;
   height: 0;
 }

 .check_on {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }

 .check_on:before {
   position: absolute;
   content: "";
   height: 20px;
   width: 20px;
   left: 2px;
   bottom: 2px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }

 input:checked + .check_on {
   background-color: #4CAF50;
 }

 input:focus + .check_on {
   box-shadow: 0 0 1px #4CAF50;
 }

 input:checked + .check_on:before {
   -webkit-transform: translateX(20px);
   -ms-transform: translateX(20px);
   transform: translateX(16px);
 }

 .check_on.round {
   border-radius: 34px;
 }

 .check_on.round:before {
   border-radius: 50%;
 }

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-middle {
  align-items: center;
}

/**
Icons
 */
.edit {
  @extend %fa-icon;
  @extend .fas;
  font-size: 1.3em;
  color: #fff;

  &:before {
    content: fa-content($fa-var-pen-square);
  }
}

.delete {
  @extend %fa-icon;
  @extend .fas;
  font-size: 1.1em;
  color: #fff;

  &:before {
    content: fa-content($fa-var-trash);
  }
}